<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <connectionStrings>
    <add name="CloudPassport" connectionString="Data Source=10.1.55.120;Initial Catalog=CloudPassport;Persist Security Info=True;User ID=myuser;Password=xuedadev1234%"/>
  </connectionStrings>
</configuration>
